@import url(./default.css);
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}
.main-logo {
  font-size: 7rem;
  font-weight: bold;
  padding: 1rem;
}

.main-logo::first-letter {
  font-size: 9rem;
}

.tag-line {
  font-size: 1.3rem;
  padding: 2rem;
  margin: 1rem;
  text-align: center;
  width: 50%;
  line-height: 2rem;
}

.design-text {
  font-size: 9rem;
}

.motto {
  font-size: 1.9rem;
  padding: 1rem;
}

.xenon-design-one{
  color:var(--text-color);
  animation: xenon-design-one 10s infinite;
  font-weight: 500;
}

@keyframes xenon-design-one{
  66%  {color: var(--ternary-color);}
  33%   {color: var(--secondary-color);}
  100% {color: var(--primary-color);}
}

.xenon-design-two{
  color:var(--text-color);
  animation: xenon-design-two 10s infinite;
  font-weight: 500;
}

@keyframes xenon-design-two{
  33%  {color: var(--secondary-color);}
  66%  {color: var(--primary-color);}
  100% {color: var(--ternary-color);}
}
@media only screen and (max-width: 986px) {
  .main-logo {
    font-size: 4rem;
  }
  .main-logo::first-letter {
    font-size: 5rem;
  }
  .design-text {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .main-logo {
    font-size: 1.5rem;
  }
  .main-logo::first-letter {
    font-size: 2rem;
  }
  .design-text {
    font-size: 2rem;
  }

  .motto {
    font-size: 1.3rem;
    padding: 1rem;
  }

  .tag-line {
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    width: 75%;
    line-height: 1.3rem;
  }

  button {
    font-size: 1rem;
  }
}
