<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid</title>
    <link rel="stylesheet" href="./grids.css" />
    <link rel="stylesheet" href="../main.css" />
  </head>
  <body>
    <h2>Grids 3-Columns</h2>

    <div class="grid-container grid-cols-3">
      <div class="grid-item">1</div>
      <div class="grid-item">2</div>
      <div class="grid-item">3</div>
    </div>

    <h2>Grids 2-Columns</h2>

    <div class="grid-container grid-cols-2">
      <div class="grid-item">1</div>
      <div class="grid-item">2</div>
    </div>

    <h2>Grid 3-rows</h2>
    <div class="grid-container grid-rows-3">
      <div class="grid-item">1</div>
      <div class="grid-item">2</div>
      <div class="grid-item">3</div>
    </div>
    <h2>Grid 2-rows</h2>
    <div class="grid-container grid-rows-2">
      <div class="grid-item">1</div>
      <div class="grid-item">2</div>
    </div>
  </body>
</html>
