
ul.list-group{
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    width: 25rem;
}

.list-group-item{
    text-decoration: none;
    border: 1px solid var(--classic-color);
    padding: 0.7rem;
    max-width: inherit;
    border-top: none;
    background-color: var(--light-color);
    cursor: pointer;
}

.list-group-item:hover, .list-group-item:focus{
    background-color: var(--classic-color);
}

li.list-group-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
.list-group-item:first-child{
    border-top: 1px solid var(--classic-color);
}




@media only screen and (max-width: 768px) {
    ul.list-group{
        width: 20rem;
    }

}
@media only screen and (max-width: 480px) {
    ul.list-group{
        width: 100%;
    }

}