<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
    <link rel="stylesheet" href="./list.css" />
    <link rel="stylesheet" href="../../default.css" />
    <link rel="stylesheet" href="../Avatar/avatar.css" />
    <link rel="stylesheet" href="../Badge/badge.css" />
  </head>
  <body class="container">
    <h2>Normal List</h2>
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>

    <h2>Notification List</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="badge-with-avatar">
          <img
            class="avatar-sm"
            src="https://miro.medium.com/fit/c/262/262/1*MFLNc70kh8oLPUsDaUH4sg.jpeg"
          />
          <span class="badge badge-round secondary-bg-color"></span>
        </div>
        You have new Notification
      </li>
      <li class="list-group-item">
        <div class="badge-with-avatar">
          <img
            class="avatar-sm"
            src="https://miro.medium.com/fit/c/262/262/1*MFLNc70kh8oLPUsDaUH4sg.jpeg"
          />
          <span class="badge badge-round success-bg-color"></span>
        </div>
        You have new Notification
      </li>
      <li class="list-group-item">
        <div class="badge-with-avatar">
          <img
            class="avatar-sm"
            src="https://miro.medium.com/fit/c/262/262/1*MFLNc70kh8oLPUsDaUH4sg.jpeg"
          />
          <span class="badge badge-round ternary-bg-color"></span>
        </div>
        You have new Notification
      </li>
      <li class="list-group-item">
        <div class="badge-with-avatar">
          <img
            class="avatar-sm"
            src="https://miro.medium.com/fit/c/262/262/1*MFLNc70kh8oLPUsDaUH4sg.jpeg"
          />
          <span class="badge badge-round danger-bg-color"></span>
        </div>
        You have new Notification
      </li>

    </ul>
  </body>
</html>
