<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="../../default.css" />
    <link rel="stylesheet" href="../Avatar/avatar.css" />
    <link rel="stylesheet" href="./rating.css" />
    <link rel="stylesheet" href="../Buttons/buttons.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body class="container flex-container-verticle">
    <div class="rating">
      <span class="material-icons rated"> star_rate </span>
      <span class="material-icons rated"> star_rate </span>
      <span class="material-icons rated"> star_rate </span>
      <span class="material-icons"> star_rate </span>
      <span class="material-icons"> star_rate </span>
    </div>

    <div class="rating">
      <span class="material-icons md-18 rated"> star_rate </span>
      <span class="material-icons md-18 rated"> star_rate </span>
      <span class="material-icons md-18 rated"> star_rate </span>
      <span class="material-icons md-18"> star_rate </span>
      <span class="material-icons md-18"> star_rate </span>
    </div>
  </body>
</html>
