/* docsite main contett */

.doc-container {
  display: flex;
  justify-content: center;
  margin: 6rem;
  position: relative;
}

.sidebar {
  position: sticky;
  top: 6rem;
  display: flex;
  flex: 0.2;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  scroll-margin-block: 10rem;
  transition: all 0.5s;
}

.sidebar > div {
  padding: 0.5rem;
  cursor: pointer;
}

.sidebar > div:hover,
.sidebar > div:focus {
  color: var(--primary-color);
}

.main-content {
  display: flex;
  flex: 0.8;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  margin: 0 10%;
}

.main-content p {
  text-align: justify;
}

.code-box {
  margin: 2rem 0rem;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .main-content {
    margin: 0rem;
  }
  .doc-container {
    display: flex;
    justify-content: center;
    margin: 6rem 0rem 1rem;
    position: relative;
  }
}
