<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badges</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="badge.css" />
    <link rel="stylesheet" href="../../default.css" />
  </head>

  <body class="container">
    <h2>Badges with icons and avatar</h2>
    <div>
      <ul>
        <li>Badge with Icon</li>
        <li>Badge with Text</li>
        <li>Badge with Avatar</li>
        <li>Rounded badge and normal badge</li>
      </ul>
    </div>
    <div class="flex-container">
      <div>
        <span class="material-icons md-48"> email </span>
        <span class="badge  danger-bg-color">new</span>
      </div>

      <div>
        random text
        <span class="badge badge-round primary-bg-color">5</span>
      </div>

      <div class="badge-with-avatar">
        <img
          class="avatar-md"
          src="https://miro.medium.com/fit/c/262/262/1*MFLNc70kh8oLPUsDaUH4sg.jpeg"
        />
        <span class="badge badge-round secondary-bg-color"></span>
      </div>
    </div>
    <hr/>


  </body>
</html>
