@import url("../Avatar/avatar.css");
/* normal badge  */
.badge {
  padding: 0rem 0.2rem;
  min-width: 1rem;
  min-height: 0.5rem;
  max-height: 1.5rem;
  display: inline-block;
  border-radius: 0.4rem;
  position: relative;
  bottom: 1rem;
  right: 10%;
  font-size: 60%;
  font-weight: bold;
  border: 1px solid var(--bg-color);
}

/* round badge  */

.badge-round {
  padding: 0.2rem;
  min-width: fit-content;
  min-height: 0.7rem;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bg-color);
  aspect-ratio: 1 / 1;
}

/* for badge with avatar */

.badge-with-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge-with-avatar > .badge {
  padding: 0;
  border-radius: 50%;
  position: absolute;
  right: 5%;
  bottom: 10%;
  border: 1px solid var(--bg-color);
}

/* 
@media only screen and (max-width: 768px) {
  .badge {
    padding: 0.2rem 0.4rem;
    min-width: 0.5rem;
    min-height: 0.5rem;
    display: inline-block;
    border-radius: 0.4rem;
    position: relative;
    bottom: 1rem;
    right: 5px;
    font-size: 60%;
    font-weight: bold;
  }
  
} */