<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerts</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="alerts.css">
    <link rel="stylesheet" href="../../default.css">
</head>
<body class="container">
    <h2>Alerts</h2>
    <div class="flex-container-verticle">

        <p>Total Four types of alert with class like: </p>
        <ul>
            <li>error-alert</li>
            <li>succes-alert</li>
            <li>warning-alert</li>
            <li>primary-alert</li>
        </ul>
      <div class="error-alert">
        <span class="material-icons">
            error
        </span>
        <span >Danger: An error occured!</span>
      </div>
  
      <div class="success-alert">
        <span class="material-icons">
            check_circle
            </span>
        <span>Success: Operation Successful!</span>
      </div>
  
      <div class="warning-alert">
        <span class="material-icons">
          gpp_maybe
        </span>
        <span>Warning: Data may get leaked!</>
      </div>

      <div class="primary-alert">
        <span class="material-icons">
          email
        </span>
        <span >You have new Message!</>
      </div>
    </div>
    
</body>
</html>