<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text-utilities</title>
    <link rel="stylesheet" href="./text_utilities.css" />
    <link rel="stylesheet" href="../../default.css" />
  </head>
  <body class="container">
    <!-- headings -->

    <div class="heading-container">
      <h1>This is heading text - h1</h1>
      <h2>This is heading text -h2</h2>
      <h3>This is heading text -h3</h3>
      <h4>This is heading text -h4</h4>
      <h5>This is heading text -h5</h5>
      <h6>This is heading text -h6</h6>
    </div>

    <hr />

    <div class="">
      <span class="title">This is title text</span>
      <span class="title title-lg">This is title text</span>
      <span class="title title-md">This is title text</span>
      <span class="title title-sm">This is title text</span>
    </div>

    <hr>

    <div class="">
      <span class="subtitle">This is subtitle </span>
    </div>

    <hr />

    <div>
      <span class="centered-text"> This is centered text</span>
    </div>

    <hr />

    <div>
      <span class="small-text">This is small text</span>
    </div>
    <hr />

    <div>
      <h2>inline text elemets:</h2>
      <p>You can use the mark tag to <mark>highlight</mark> text.</p>
      <p>
        <del>This line of text is meant to be treated as deleted text.</del>
      </p>
      <p><u>This line of text will render as underlined</u></p>
      <p><strong>This line rendered as bold text.</strong></p>
      <p><em>This line rendered as italicized text.</em></p>
    </div>

    <hr>
    <br>
  </body>
</html>
