/* form and input styles */
.form-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.form-group {
  padding: 0rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.form-group button {
  width: 10rem;
  margin: 1rem 0rem;
}

input,
textarea {
  display: inline-block;
  padding: 8px 6px;
  font-size: 1rem;
  color: var(--dark-color);
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--classic-color);
  border-radius: 0.2rem;
}

input:disabled {
  background-color: var(--classic-color);
  opacity: 0.7;
  border: 1px solid var(--dark-color);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  cursor: pointer;
  accent-color: var(--primary-color);
  width: 1rem;
  height: 1rem;
}

input[type="range"] {
  padding: 0;
}

textarea {
  min-height: 160px;
  display: block;
  width: 100%;
}

.input-label {
  display: inline-block;
  margin: 5px 0px;
  padding: 5px 0px;
}

.input-label-text {
  text-align: none;
}
.input-error {
  border: 1px solid var(--danger-color);
  outline: 1px solid var(--danger-color);
}

.validation-error {
  color: var(--danger-color);
  font-size: 0.8rem;
  padding: 0.5rem 0rem;
}

@media only screen and (max-width: 480px) {
  .form-group button {
    width: 100%;
  }
}
