@import url("../../default.css");

.centered-text{
    display: block;
    text-align: center;
}

.small-text{
    font-size: 0.8rem;
}

/* title variants  */
.title.title-lg{
    font-size: 2rem;
}

.title.title-md{
    font-size: 1.5rem;
}

.title.title-sm{
    font-size: 1rem;
}

/* inline styling */
strong{
    font-weight:bold;
}

mark{
    background-color:var(--warning-color)
}

em {
    font-style: italic;
}